.bodyClass{
    background-color: black;
}

.imageStyle{
    border-radius: 20px;
    height: 300px;
    width: 250px;
}
.imgContainerStyle{
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left 0.3s ease;
    background: rgba(0,0,0,0.7);
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    /* overflow: auto; */
    
}
.imgContainerStyle:hover .overlay{
    left: 0;
}



.innerDivStyle{
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 5px;

}
.mainDivStyle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    

}

/* For Webkit browsers like Chrome and Safari */
    .custom-scrollbar::-webkit-scrollbar {
      width: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 6px;
    }


    /* For Firefox */
    .custom-scrollbar {
      scrollbar-width: thin;
      scrollbar-color: #888 #f1f1f1;
    }

    .custom-scrollbar {
      width: 200px;
      height: 300px;
      overflow-y: scroll;
      /* Add overflow-x: scroll; if you want a horizontal scrollbar */
    }

.dropDownStyle{
    width: 200px;
    justify-content: center;
    padding: auto;
    color: black;
    border-radius: 20px;
    display: inline;

}
.selectElementStyle{
    background-color: #fcba03;
    height: 40px;
    width: 180px;
    border-radius: 10px;
    color: black;
    text-align: center;

}
.optionStyle{
    background-color: black;
    color: white;
    border-radius: 10px;
}

#optionsDiv{
    height: 100px;
    
}

.inputTextArea{
    height: 40px;
    resize: none;
    width: 50%;
    margin-right: 20px;
    border: 2px solid #fcba03;
    border-radius: 20px;
    
}
/* .inputTextArea:focus{
    border-color: none;
    box-shadow: none;
} */

input.form-control:focus{
    border-color:#fcba03;
    border-width: 2px;
    box-shadow: none;
    border-radius: 20px;
    

}

/* popup code */
.overlay2{
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,0.7);
justify-content: center;
align-items: center;
}

.popup{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 20px;
}

.closeBtn{
    height: fit-content; 
    width: fit-content; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px;
    background-color: orangered; 
    color: white; 
    border-radius: 50%;
    border-width: 0px;
}
.closeBtn:hover{
    background-color: black;
}
